.custom__select{
    &--label{
        background-color: $color-white;
        border: 0;
    } 
    &--input{
        background-color: $color-white;
        border: 0;
        padding: 0;
        background: url("/assets/front/icon/arrow-down-black.svg");
        background-repeat: no-repeat;
        background-position-y: 1rem;
        background-size: 2%;
        cursor: pointer;
        &:focus{
            box-shadow: none;
        }
        
    }
}