// colors
$color-green:#08f0ab;
$color-black:#000000;
$color-gray:#c8c8c8;
$color-white:#ffffff;



// border-radius
$border-radius-card:2rem;
$border-radius-box-small:.3rem;
$border-radius-box-medium:.5rem;
$border-radius-box-large:.7rem;
$border-radius-box-xlarge:1rem;

$border-gray: 1px solid $color-gray;